.grid a {
    display : inline-block;
    padding : 5px;
    margin : 10px;
    width : 100px;
    text-align : center;
    background : #BFDCD8;
    text-decoration : none;
    cursor : pointer;
}
.grid a:hover {
    background : #3FC7C7;
    cursor : pointer;
}